:root {
  --sensor-size: 10rem;
  --sensor-border: 1px;
  --sensor-color: #a8a8a8;
  --primary-color: #17a2b8;
  --color-dark: #333;
  --color-med-dark: #5d5d5d;
  --bg-light: rgb(219, 219, 219);
  --secondary-color: #ffa759;
  --secondary-faded: #ffa7597d;
  --danger-color: #dc3545;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------- Utils ------------- */
.sensor-btn {
  padding: 0 15px;
  border: 1px solid var(--sensor-color);
  border-radius: 10px;
  margin: 2px 0;
  background-color: var(--primary-color);
  color: #fff !important;
}

.sensor-btn:hover {
  background-color: var(--danger-color);
}
/* ----------- ----- ------------- */

/* SENSOR */

.sensor a {
  text-decoration: none;
  color: var(--color-dark);
}

.sensor {
  margin: 0.7rem;
  width: var(--sensor-size);
  height: var(--sensor-size);
  border: var(--sensor-border) solid var(--sensor-color);
  border-radius: 50%;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  -webkit-box-shadow: inset 0px 0px 10px 3px rgba(168, 168, 168, 0.5);
  box-shadow: inset 0px 0px 10px 3px rgba(168, 168, 168, 0.5);
  transition: scale 1s ease;
  overflow: hidden;
  font-family: "Times New Roman", Times, serif;
  line-height: normal;
}

.sensor:hover {
  -webkit-box-shadow: inset 0px 0px 10px 3px rgba(168, 168, 168, 0.5),
    0px 0px 5px 3px rgba(53, 53, 53, 0.2);
  box-shadow: inset 0px 0px 10px 3px rgba(168, 168, 168, 0.5),
    0px 0px 5px 3px rgba(53, 53, 53, 0.2);
  transform: scale(1.02);
}

.sensor .top {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  position: relative;
}

.menu {
  text-align: center;
  font-size: 1rem;
  color: var(--sensor-color);
}

.menu.device-menu {
  position: absolute;
  top: 0;
  left: 40%;
  width: 2rem;
  height: 1rem;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

.sensor .top .body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

/* Sensor Overlay */

.body:after {
  position: absolute;
  content: "Online";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--secondary-color);
  transform: scale(2) translateX(0) translateY(-75%) rotate(0);
  transition: transform 1.1s ease;
  opacity: 0.9;
}

.sensor .bottom {
  font-size: 0.7rem;
  padding-bottom: 0.9rem;
  color: var(--color-dark);
  text-transform: uppercase;
}

.sensor .body .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: -1;
  opacity: 0;
  transition: opacity 1s ease;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-size: 81%;
}

/* Options */
.sensor .device-with-options:hover > .options {
  opacity: 0.9;
  z-index: 1;
  top: 0;
}

.sensor .body .options {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: -1;
  opacity: 0;
  transition: all 0.7s ease;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-size: 81%;
  background-color: var(--primary-color);
}

.sensor .top .menu.device-menu:checked + .fas {
  color: var(--primary-color);
}

.sensor .top .menu.device-menu:checked ~ .body:after {
  font-size: 0.7rem;
  color: var(--primary-color);
  transform: scale(2) translateX(0) translateY(0) rotate(0);
}

.sensor .top .menu.device-menu:checked ~ .body .details {
  opacity: 1;
  z-index: 2;
}

/* Disable the Options Menu in favour of Details */
.sensor .top .menu.device-menu:checked ~ .body .options {
  display: none;
}

.sensor .delim {
  width: 70%;
  height: 3px;
  background-color: var(--secondary-faded);
  border-radius: 50%;
}

.sensor .body .main {
  text-align: center;
}

/* Temp */

.sensor.temp .main .tv {
  font-size: 2.7rem;
  border-bottom: 1px solid var(--sensor-color);
}

.sensor.temp .main .tv:after {
  content: "C";
  font-size: 30%;
  position: absolute;
}

.sensor.temp .main .hv {
  font-size: 2.7rem;
}

.sensor.temp .main .hv:after {
  content: "%";
  font-size: 30%;
  position: absolute;
}

/* Relay */

.sensor.relay .main {
  font-size: 4.5rem;
  margin-top: 0.9rem;
}

.sensor.relay .main a {
  color: var(--sensor-color);
}

.sensor.relay .main a:hover,
.power-on {
  color: var(--primary-color);
}

/* RBG */

.sensor.rgb .main {
  font-size: 2.3rem;
  margin: 0.5rem;
}

.sensor.rgb .main .red {
  text-align: center;
}

.sensor.rgb .main .green,
.sensor.rgb .main .blue {
  display: inline;
}

.sensor.rgb .main .red a:hover,
.red-on {
  color: red !important;
}

.sensor.rgb .main .green a:hover,
.green-on {
  color: green !important;
}

.sensor.rgb .main .blue a:hover,
.blue-on {
  color: blue !important;
}

/* Button */

.sensor.button .main {
  font-size: 4.5rem;
  margin-top: 0.9rem;
}

.sensor.button .main i {
  color: var(--sensor-color);
}

.sensor.button .main i:hover {
  color: var(--primary-color);
}

/* Buzzer */

.sensor.buzzer .main {
  font-size: 4.5rem;
  margin-top: 0.9rem;
}

.sensor.buzzer .main i {
  color: var(--sensor-color);
}

.sensor.buzzer .main i:hover {
  color: var(--primary-color);
}

/* Motor */

.sensor.motor .main {
  font-size: 4.5rem;
  margin-top: 0.9rem;
}

/* IR */

.sensor.ir .main {
  font-size: 4.5rem;
  margin-top: 0.9rem;
}

/* Matrix */

.sensor.matrix .main {
  font-size: 4.5rem;
  margin-top: 0.9rem;
}

/* OLED */

.sensor.oled .main {
  font-size: 4.5rem;
  margin-top: 0.9rem;
}

/* Barometer */
.sensor.barometer .main {
  text-align: center;
}

.sensor.barometer .main .barv {
  font-size: 2.7rem;
  border-bottom: 1px solid var(--sensor-color);
}

.sensor.barometer .main .pha {
  font-size: 2.7rem;
}

.sensor.barometer .main .barv:after {
  content: "p";
  font-size: 30%;
  position: absolute;
}
